Repository jordanbtucker/ts-init: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -c

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": "eslint",
  "**/*.{babelrc,css,html,js,json,jsx,md,scss,ts,tsx,yml}": "prettier -c"
}

build: update dependencies
  package-lock.json
  package.json
Due: prettier -c

build: use tap and switch tests to TypeScript
  .eslintrc.json
  .prettierignore
  package-lock.json
  package.json
  test/index.js
  test/index.ts
  test/tsconfig.json
Due: eslint, prettier -c

build: explicitly specify main module
  package.json
Due: prettier -c

build: update to latest standards
  .eslintignore
  .eslintrc.json
  .gitignore
  .lintstagedrc.json
  .prettierignore
  .travis.yml
  .vscode/launch.json
  .vscode/settings.json
  README.md
  package-lock.json
  package.json
  src/tsconfig.json
  tsconfig.json
Due: prettier -c

feat: add farewell
  src/farewell.ts
  src/index.ts
  test/index.ts
Due: eslint, prettier -c

build: update to latest standards
  .babelrc.json
  .eslintignore
  .eslintrc.json
  .gitignore
  .prettierignore
  lib/node/index.mjs
  package-lock.json
  package.json
  src/tsconfig.json
  test/tsconfig.json
  tsconfig.eslint.json
  tsconfig.esm.json
  tsconfig.json
  webpack.config.ts
Due: eslint, prettier -c

build: chmod git hooks
  .husky/commit-msg
  .husky/pre-commit
Due: none

build: use extensions in globs
  .eslintrc.json
Due: prettier -c
