Repository jordanbtucker/ts-init: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -c

build: update dependencies
  package-lock.json
  package.json
Due: prettier -c

build: migrate vscode eslint setting
  .vscode/settings.json
Due: prettier -c

build: update dependencies
  .prettierrc.json
  package-lock.json
  package.json
Due: prettier -c

build: set minimum Node.js version to 10
  package.json
Due: prettier -c

fix: use correct API for sinon
  src/app.ts
  test/app.js
Due: eslint, prettier -c

build: use caret range for engines.node
  package.json
Due: prettier -c

refactor!: require supported versions of Node.js
  .travis.yml
Due: prettier -c

build: style prose with Prettier
  .prettierrc.json
  CHANGELOG.md
Due: prettier -c

build: update .gitignore
  .gitignore
Due: none

build: clean up tsconfig.json
  tsconfig.json
Due: prettier -c

build: debug with ts-node
  .vscode/launch.json
  package-lock.json
  package.json
Due: prettier -c

build: lint and format all supported files
  .lintstagedrc.json
  .vscode/settings.json
  package.json
Due: prettier -c

build: remove unnecessary eslint config
  src/.eslintrc.json
Due: prettier -c

feat: put config in its own module
  package-lock.json
  package.json
  src/.eslintrc.json
  src/app.ts
  src/config.ts
  src/index.ts
  test/app.js
Due: eslint, prettier -c

feat: use main function instead of app
  src/app.ts
  src/index.ts
  src/main.ts
  test/app.js
  test/main.js
Due: eslint, prettier -c

build: use root relative ignore paths
  .eslintignore
  .gitignore
  .prettierignore
Due: none

build: specify current versions of Node.js
  .travis.yml
  package.json
Due: prettier -c

build: specify main as module ID
  package.json
Due: prettier -c

build: use canonical tsconfig values
  tsconfig.json
Due: prettier -c

docs: update license year
  LICENSE
Due: none

build: remove unused cross-env dependency
  package-lock.json
  package.json
Due: prettier -c

build: use caret semver for typescript
  package.json
Due: prettier -c

fix: target minimum Node.js v10.9 for Array.prototype.values support
  package.json
Due: prettier -c

feat: use ava instead of tap
  package-lock.json
  package.json
  test/main.js
Due: eslint, prettier -c

fix: use convertPath with eslint-plugin-node
  src/.eslintrc.json
Due: prettier -c

build: update dependencies
  package-lock.json
  package.json
  src/.eslintrc.json
Due: prettier -c

fix: restore prettier/@typescript-eslint
  src/.eslintrc.json
Due: prettier -c

build: update to latest standards
  .env.example
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc.json
  .lintstagedrc.json
  .travis.yml
  .vscode/launch.json
  .vscode/settings.json
  LICENSE
  package-lock.json
  package.json
  src/.eslintrc.json
  src/config.ts
  src/greet.ts
  src/index.ts
  src/main.ts
  test/index.js
  test/main.js
  tsconfig.json
Due: eslint, prettier -c

build: resolve .jsx files when linting
  src/.eslintrc.json
Due: prettier -c

build: test Node.js v17
  .travis.yml
Due: prettier -c

docs: update year in LICENSE
  LICENSE
Due: none

build: add watch script
  package.json
Due: prettier -c

build: include src in package
  package.json
Due: prettier -c

build: use eslint overrides
  .eslintrc.json
  src/.eslintrc.json
Due: prettier -c

build: require return types
  .eslintrc.json
Due: prettier -c

Path conditions:
  eslint: any of: **/*.{js,ts}
  prettier -c: any of: **/*.{js,json,md,ts,yml}
